.employee{
  text-align: left;
  float: left;
  width: 25%;
  height: 25%;
  margin-left: 21%;
  margin-right: 21%;
}

.paragraph{
	display: block;
	width: 230%;
	margin-top: 16px;
	margin-right: 10px;
}

.social{
	display: block;
	margin-top: 16px;
	margin-right: 10px;
	float: left;
	text-align: right;
}

.facebook{
	display: inline-block;
}

.twitter{
	display: inline-block;